* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* CCS FOR ANIMATED SECTION */

.animated-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: #aee2ff;
}
.head-section img,
.body-section img,
.both-hands img {
  position: absolute;
}
.body-1 {
  width: 550px;
  top: 153px;
  left: 70px;
}
.head {
  width: 500px;
  top: 5px;
  left: 100px;
}
.eyes-default {
  width: 265px;
  top: 105px;
  left: 215px;
  transition: transform 0.2s ease;
  /* display: none; */
}
.mouth-default {
  width: 250px;
  top: 360px;
  left: 220px;
  /* display: none; */
}
.face-sleepy{
  width: 230px;
  top: 200px;
  left: 222px;
  display: none;
}

.right-hand {
  width: 250px;
  top: 452px;
  left: 70px;
}
.left-hand {
  width: 250px;
  top: 452px;
  left: 350px;
}
/* CSS of Menu */
.menu-section {
  position: absolute;
  top: 410px;
  right: 205px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.menu-btn {
  width: 480px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid #b5baff;
  border-radius: 20px;
  background: #b5baff;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
  text-shadow: 1px 1px 0 #9fa1ff;
  color: #ededff;
  gap: 10px;
  cursor: pointer;
  box-shadow: 0 6px 0 #9fa1ff;
}
.menu-btn img {
  width: 40px;
  height: 40px;
}

/* CSS FOR HERO SECTION */
.hero-section {
  width: 100%;
  min-height: 100vh;
  background: #d9f9df;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-character {
  position: relative;
  width: 450px;
  height: 500px;
}
.about-character img {
  position: absolute;
}
.body-2,
.head-2,
.arm,
.happy-face-1 {
  width: 400px;
  top: -40px;
  right: 20px;
}

.about-section h1 {
  font-size: 3.2rem;
  color: #9fa1ff;
  font-family: "Indie Flower", cursive;
  text-shadow: 2px 2px 0 #ffffff;
}
.about-section p {
  font-size: 1.4rem;
  font-family: "Nunito", sans-serif;
  max-width: 650px;
  color: #6b7a6a;
  text-shadow: 1px 0 rgba(255, 255, 255, 0.5);
  line-height: 1.7;
}
/* CSS FOR PROJECTS SECTION */
.project-section {
  width: 100%;
  min-height: 100vh;
  background: #aee2ff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.project-section h1 {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 3rem;
  color: #9fa1ff;
  text-shadow: 2px 2px 0 #ffffff;
}
.folder-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}
.project-folder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-folder img {
  width: 250px;
  cursor: pointer;
}
