* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CCS FOR ANIMATED SECTION */

.animated-section {
  width: 100%;
  min-height: 1000px;
  position: relative;
  background: #aee2ff;
}
.head-section img,
.body-section img,
.both-hands img {
  position: absolute;
}
.body-1 {
  width: 550px;
  top: 153px;
  left: 70px;
}
.head {
  width: 500px;
  top: 5px;
  left: 100px;
}
.eyes-default {
  width: 265px;
  top: 105px;
  left: 215px;
}
.mouth-default {
  width: 250px;
  top: 360px;
  left: 220px;
}

.right-hand {
  width: 250px;
  top: 452px;
  left: 70px;
}
.left-hand {
  width: 250px;
  top: 452px;
  left: 350px;
}
/* CSS of Menu */
.menu-section {
  position: absolute;
  top: 410px;
  right: 205px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.menu-btn {
  width: 480px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid #b5baff;
  border-radius: 20px;
  background: #b5baff;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
  text-shadow: 1px 1px 0 white;
  color: #ededff;
  cursor: pointer;
  box-shadow: 0 6px 0 #9fa1ff;
}

/* CSS FOR HERO SECTION */
.hero-section {
  width: 100%;
  min-height: 100vh;
  background: #d9f9df;
}
